@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
 /*  --background-start-rgb: 214, 219, 220; */
  --background-end-rgb: 255, 255, 255;
  --primaryColor: white;
  --secondaryColor:rgb(38,38,38);
  --tertiaryColor: rgb(23 23 23);
  --backgroundColor: rgb(15,15,15);
  --highlightColor: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  /*   --background-start-rgb: 0, 0, 0; */
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
  padding: 20px;
}
 
#text-input:focus{
  outline: none !important;
 
}
